body{
    padding: 4% 8%;
    font-family: "Gaegu", sans-serif;
    font-weight: 200;
    background-color: #F8F8F8;
    color: #1D1D1D;
    transition: all 2s;
}

header{
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 0 0 72px 0;}

h1{
    font-size: 2.4em;
    text-align: center;
}

p{
    font-size: 1.5em;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.day{
    width: fit-content;
    margin: auto;
    text-align: center;
    transition: all 0.5s ease;
}


#bottombar{
    display: flex;
    justify-content: space-between;

}

footer p{
    font-size: 1.1em;
}

#links{
    display: flex;
    gap: 24px;
}

#point{
    position: absolute;
    right: -50px;
    top: 100px;


    background-image: url(images/point.png);
    width: 130px;
    height: 60px;
    background-repeat: no-repeat;
}

@keyframes slowBounce{
    0%, 100% {
      transform: translateY(0) rotate(-5deg);
    }
    50% {
      transform: translateY(-10px) rotate(3deg);
    }
}
  
.bounce{
    animation: slowBounce 2s ease-in-out infinite;
}

@keyframes jiggleLoop{
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-5deg); }
    10% { transform: rotate(5deg); }
    15% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
  
.jiggle{
    animation: jiggleLoop 4s infinite;
}


.numbers{
    border: #dddddd75 solid 1px;
    border-radius: 20px;
    background-color: white;
    padding: 4px 20px;
    transition: all 0.5s ease;
}


.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}


hr{
    border: #dddddd75 solid 0.5px;
}


.position{
    position: relative;
}

.dot{
    position: absolute;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 1000px;
    top: 8px;
    right: 24px;
    filter: blur(1px);
    animation: pulse 2s infinite ease-in-out;
    opacity: 1;
    transition: all 0.5s ease;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      /* opacity: 1; */

    }
    50% {
      transform: scale(1.2);
      /* opacity: 0.9; */

    }
    100% {
      transform: scale(1);
      /* opacity: 1; */

    }
}


a{
    color: #1D1D1D;
    text-decoration: none;
    transition: ease .8s;
}


a:hover{
    text-decoration: underline;
}




@media only screen and (min-width: 900px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0 0 100px 0;
    }

    #point{
        right: -90px;
        top: 60px;
    }

    body{
        padding: 2% 8%;
    }
}

@media only screen and (min-width: 1600px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px;
        padding: 0 0 100px 0;
    }

    #point{
        right: -90px;
        top: 60px;
    }
}