body{
    padding: 4% 8%;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    background-color: #F8F8F8;
    color: #1D1D1D;
    overflow-x: hidden;
    transition: all 2s;
}

h1{
    font-size: 3em;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 1.25em;
    font-weight: 400;
    margin: 12px 0 8px;
    padding-left: 16px;
    border-width: 2px;
    border-left-style: solid;
}

a{
    color: #1D1D1D;
    text-decoration: none;
    transition: ease .8s;
    /* padding: 6px 8px 6px 0; */
}

a.switch{
    color: white;
}

a:hover{
    /* background-color: #1D1D1D;
    color: white; */
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

li a:hover{
    padding-left: 24px;
}

#text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px 0;
}


#topbar{
    display: flex;
    gap: 12px;
    margin-left: auto;
    width: fit-content;
}

#tags nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}


main{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 32px;
    padding: 30px 0;
    justify-content: space-between;
    margin: auto;
    min-width: 270px;
    width: fit-content;
}


nav ul li, nav ol li{
    list-style-type: none;
}

.lists ol, .lists ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;

}

.lists{

    flex: 1;
}

#double{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


#bottombar{
    display: flex;
    justify-content: space-between;
}


.hidden{
    display: none;
    background-color: pink;
}

/* svg{
    background-color: red;
} */


#circle1{
    position: absolute;
    z-index: -1;
    transform: scale(1.05);
    top: -400px;
    right: -90px;
    width: 517px;
    height: 517px;
    background-image: url(images/circle1.png);

    animation: spin 50s infinite linear;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#circle2{
    position: absolute;
    z-index: -1;
    bottom: 200px;
    left: -380px;
    width: 471px;
    height: 471px;
    background-image: url(images/circle2.png);

    animation: spin 50s infinite linear;
}

#circle3{
    position: absolute;
    z-index: -1;
    bottom: -240px;
    right: -550px;


    width: 696px;
    height: 696px;
    background-image: url(images/circle3.png);

    animation: spin 50s infinite linear;
}

button{
    color: white;
    background-color: black;
    padding: 0 20px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
}

    /* switch */
    body.switch {
        background-color: rgb(41, 41, 41);
        color: white;
        transition: all 2s;
    }


@media only screen and (min-width: 900px){

    body{
        padding: 2% 8%;
    }

    main{
        flex-direction: row;
        width: 100%;
        padding: 4vw 0;
    }

    h1{
        font-size: 6em;
    }


    #circle1{


        top: -380px;
        right: -100px;

        width: 517px;
        height: 517px;
    }
    
    #circle2{


        bottom: -300px;
        left: -100px;

        width: 471px;
        height: 471px;

    

    }
    
    #circle3{


        bottom: -400px;
        right: -100px;
    
    
        width: 696px;
        height: 696px;
    

    }


}